header {
    text-align: center;
    font-size: 5rem;
    color: red;
    background-color: black;

}

section{
    align-content: center;
}
p {
    font-weight: 100;
    padding: 10px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
    
}
img {
    border: 30px;
    border-color: black;
    padding: 10px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}